<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyerServlet</servlet-name>
        <servlet-class>BuyerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductRegistrationServlet</servlet-name>
        <servlet-class>ProductRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signinServlet</servlet-name>
        <servlet-class>signinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>afterloginServlet</servlet-name>
        <servlet-class>afterloginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailServlet</servlet-name>
        <servlet-class>detailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setthebidservlet</servlet-name>
        <servlet-class>setthebidservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcategoriesservlet</servlet-name>
        <servlet-class>addcategoriesservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyerServlet</servlet-name>
        <url-pattern>/BuyerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductRegistrationServlet</servlet-name>
        <url-pattern>/ProductRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signinServlet</servlet-name>
        <url-pattern>/signinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>afterloginServlet</servlet-name>
        <url-pattern>/afterloginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailServlet</servlet-name>
        <url-pattern>/detailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setthebidservlet</servlet-name>
        <url-pattern>/setthebidservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcategoriesservlet</servlet-name>
        <url-pattern>/addcategoriesservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
